{{ $size := 12 }}
{{ $isFold := "false" }}
{{ if eq true (index .Attributes "fold") }}
{{ $isFold = "true" }}
{{ end }}
<div class="codeblock" id='codeblock-{{ .Ordinal }}'>
<div class="codetype"> 
  {{ if .Type }}
    {{ .Type }}
  {{ else }}
    Text
  {{ end }}
</div>
<div class='codeblock-tool-container'>
<button class='codeblock-tool copy-button' onclick="copycode('codeblock-{{ .Ordinal }}')"> <svg aria-hidden="true" height="{{ $size }}" viewBox="0 0 16 16" version="1.1" width="{{ $size }}" data-view-component="true"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg> </button>
<button class='codeblock-tool check-button codeblock-tool-hidden'><svg aria-hidden="true" height="{{ $size }}" viewBox="0 0 16 16" version="1.1" width="{{ $size }}" data-view-component="true"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg></button>
<button class='codeblock-tool fold-button {{- if eq "true" $isFold }} codeblock-tool-hidden {{ end -}}'><svg xmlns="http://www.w3.org/2000/svg" width="{{ $size }}" height="{{ $size }}" fill="currentColor" class="bi bi-arrows-collapse" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8zm7-8a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 4.293V.5A.5.5 0 0 1 8 0zm-.5 11.707-1.146 1.147a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 11.707V15.5a.5.5 0 0 1-1 0v-3.793z"/> </svg></button>
<button class='codeblock-tool unfold-button {{- if eq "false" $isFold }} codeblock-tool-hidden {{ end -}}'><svg xmlns="http://www.w3.org/2000/svg" width="{{ $size }}" height="{{ $size }}" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/> </svg></button>
</div>
<div
{{- if eq "true" $isFold }} class="codeblock-fold" {{ end -}}
>
{{ transform.Highlight .Inner .Type .Options }}
</div>
</div>
