a {
	color: #000;
	text-decoration: underline;
}

.summary  a,
.sidebar-title a,
.sidebar-items a,
.toc a {
	text-decoration: none;
}

a:hover {
	font-weight: 600;
	text-decoration: underline;
}

.sidebar-title a:hover,
.sidebar-item > a:hover {
	text-decoration: none;
}

.front-a {
	margin-left: 7px;
}

object,
img{
	max-width: 100%;
	margin-top: 12px;
	border: 2px solid gray;
}

/* 图片模糊 */
.blur-image {
  filter: blur(5px);
}

.blur-image:hover {
  filter: none;
}

/* @font-face { */
/* 	font-family: "Iosevka Nerd Font"; */
/* 	src: url('/fonts/iosevka-nerd-font.min.ttf123'); */
/* } */

@font-face {
	font-family: "Sarasa";
    src: url('/fonts/SarasaTermSCNerdFont-Regular.woff2');
}

* {
	font-family: "Sarasa";
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;

	font-size: 16px;
}

/* ------------*/
/* 左侧侧边栏 */
/* ------------*/
.sidebar {
	position: fixed;
    top: 40px;

    height: 90%;
    width: 25%;

    text-align: right;

    display: flex;
    flex-direction: column;
}

.sidebar-title {
	padding-right: 40px;
}

.sidebar-title > a {
	font-family: 'Bungee Shade';
	font-weight: 600;
	font-size: 2rem;
}

.sidebar-items {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-right: 40px;

	font-size: 1.2rem;
	line-height: 3rem;
}

.sidebar-item {
	white-space: nowrap;
}

.dropdown-items {
	display: none;
}

.sidebar-footer{
	position: absolute;
	right: 0;
	bottom: 40px;
	padding-right: 40px;
	font-size: 0.8rem;
}

.en_name,
.zh_name {
	width: 75px;
	display: inline-block;
	text-align: center;
}


/* -----*/
/* 正文 */
/* -----*/
.content-container {
	/* height: 100%; */
	margin-left: 25%;
	margin-right: 25%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


main{
	padding: 30px;
}


h1 {
	font-size: 2em;
}


/* 引用 */
blockquote {
	margin: 0;
	padding: 0 1em;
	color: #57606a;
	border-left: 0.25em solid #d0d7de;
}


/* ********** */
/* 特殊注解块 */
/* ********** */
.msg-block {
	margin: 1.5rem 0;
	/* padding-bottom: 0.1rem; */
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

.msg-title {
	padding-left: 1rem;
	line-height: 2rem;
}

.msg-body {
	padding-left: 1rem;
	font-size: 0.9rem;
	padding-bottom: 0.1rem;
}

.info-block {
	border-left: 0.25em solid rgba(57, 197, 187, 1);
}
.info-title {
	background-color: rgba(57, 197, 187, 0.2);
}

.warn-block {
	border-left: 0.25em solid rgba(242, 190, 34, 1);
}
.warn-title {
 	background-color: rgba(242, 190, 34, 0.2);
}

.error-block {
	border-left: 0.25em solid rgba(232, 69, 69, 1);
}
.error-title {
	background-color: rgba(232, 69, 69, 0.2);
}

/* 单行的`` 渲染 */
code {
	padding: 0.2em 0.4em;
	font-size: 85%;
	background-color: #f6f8fa;
	border-radius: 3px;
}

/* 多行的```渲染 */
.highlight{
	position: relative;
}

.highlight pre {
	padding: 16px;
	overflow: auto;
	border-radius: 4px;
}

.highlight pre::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.highlight pre > code{
	padding: 0;
	font-size: 100%;
	background-color: inherit;
	border: 0;
}

/* 代码块复制按钮 */
.code-copy {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	padding: 5px 6px;
	opacity: 1;
}

.code-toggle {
	position: absolute;
	top: 0px;
	right: 40px;
	margin: 10px;
	padding: 5px 6px;
	opacity: 1;
}

.code-folded{
	height: 25px;
	overflow: hidden;
}

.code-notice {
	text-align: center;
}

thead,
table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-top: 2px solid black;
	border-bottom: 2px solid black;

}

th, td {
	text-align: center;
	padding: 5px 10px;
}


/* git 修改记录 */
.git{
	margin-top: 50px;
    font-size: 1.5em;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	/* background-color: #A4FFC0; */
}

.gitLog{
	/*...*/
}

.gitLine{
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gitTime{
	float: left;
	width: 30%;
}

.gitMsg{
	float: right;
	width: 70%;
}

/* -----------*/
/* 右侧侧边栏 */
/* -----------*/
.rightbar-container {
	position: fixed;
	top: 40px;
	right: 0;

	width: 25%;
	height: 70%;
	overflow: auto;
}

.rightbar-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.toc{
	margin-left: 40px;
	width: 80%;
	max-width: 350px; overflow-wrap: anywhere;
	padding-bottom: 10px;
	padding-left: 20px;

	box-sizing: border-box;
	border-radius: 7px;
	background-color: #f2f2f2;
}


.toc-title{
	text-align: center;
	padding-top: 10px;

	font-size: 1.2rem;
	font-weight: 600;
}

.toc-h2,
.toc-h3,
.toc-h4{
	padding-left: 20px;
}

.toc .active {
	font-weight: 600;
	text-decoration: underline;
}

/********/
/* 摘要 */
/********/

.summary > h1 {
	font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

article > time,
.summary > time{
	color: #343A40;
}


.summary-content{
	padding: 20px 0px;
	overflow: auto;
}

.summary-content > a:hover{
	/* text-decoration: underline; */
	font-weight: normal;
}


/* ******** */
/* 加密提示 */
/* ******** */

.hugo-encryptor-container{
	margin: 30px 0px;
    border-top: 0.25em solid darkseagreen;
    border-bottom: 0.25em solid darkseagreen;
}

.hugo-encryptor-form{
	text-align: center;
}

.hugo-encryptor-button,
.hugo-encryptor-input{
	font-size: 20px;
	margin: 10px 10px 10px 10px;
	text-align: center;
	border: 2px solid #000;
	width: 200px;
}

/* ******* */
/* 标签云 */
/* ******* */
#tag-wrapper{
	margin: 0 auto;
}

/* ******** */
/* 手机屏幕 */
/* ******** */

@media screen and (max-width: 900px) {

	.sidebar{
		position: static;
		height: 10%;
		width: 100%;
		display: flex;
		justify-content: center; 
		align-items: center; 
	}
	
	.sidebar-title {
		text-align: center;
		font-size: 2.5rem;
		padding: 0;
		padding-top: 10px;
	}
	
	.sidebar-items,
	.sidebar-footer {
		display: none
	}

	.dropdown-items {
		display: block;
	}

	.dropdown-btn{
		position: absolute;
		top: 20px;
		left: 20px;

		padding: 10px;
		background-color: #f2f2f2;
		border-radius: 8px;
		border: 0px;
  }


	.dropdown-list {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75%; /* 列表宽度 */
		margin: 0;
		padding: 0;
		background-color: #f1f1f1;

		display: none;
		flex-direction: column;
		text-align: center;
		border: 1px solid black;
		border-radius: 10px;
		z-index: 999999;
	}

	.dropdown-items:hover .dropdown-list {
		display: flex;
	}


	.dropdown-item a{
		text-decoration: none;
		font-size: 1.2rem;
		line-height: 3;
	}

	.content-container {
		margin-left: 0%;
		margin-right: 0%;
		box-shadow: 0px 0px 0px;
	}

	.rightbar-container {
		display: none;
	}
}


