<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="id" content="{{ .Params.id }}" />

	<title>{{ with .Title }} {{ . }}  - {{ end }} {{ .Site.Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ "css/katex.min.css" | relURL }}">
	<script src="{{ "js/katex/katex.min.js" | relURL }}"></script>
	<script defer src="{{ "js/katex/auto-render.min.js" | relURL }}"
		onload='renderMathInElement(document.body, {delimiters: [
			{left: "$$", right: "$$", display: true},
			{left: "$", right: "$", display: false}
]});'>
	</script>
</head>
<body>
	{{ partial "sidebar" . }}
	<div class='content-container'>
		{{ block "main" . }}{{ end }}
	</div>
	<div class='rightbar-container'>
		{{ partial "toc.html" . }}
		{{ partial "sort.html" . }}
	</div>
	{{ partial "scripts.html" . }}
</body>
</html>
