{{ define "main" }}
	<main>
		<div class='list'>
			{{ if or .Title .Content }}
			<div>
				<div style='display: flex; align-items: center; justify-content: space-between'>
					{{ with .Title }}<h1 style='display:inline-block;'>{{ . }}</h1>{{ end }}
					{{ if eq .Kind "section" }} <a href="/statistics" id='page-views'>   </a> {{ end }}
				</div>
				{{ with .Content }}<div>{{ . }}</div>{{ end }}
			</div>
			{{ end }}

			<!-- 漫评词云-->
			{{ if eq .Type "anime" }}
			{{ .Scratch.Set "TargetPage" "/rate /anime_tags" }}
			{{ .Scratch.Set "weightFactor" "25" }}
			{{ partial "tagCloud" . }}
			<br>
			{{ end }}

			<!-- 分类词云-->
			{{ if eq .Type "categories" }}
			{{ .Scratch.Set "TargetPage" "/categories" }}
			{{ .Scratch.Set "weightFactor" "10" }}
			{{ partial "tagCloud" . }}
			<br>
			{{ end }}

			<!-- 标签词云-->
			{{ if eq .Type "tags" }}
			{{ .Scratch.Set "TargetPage" "/tags" }}
			{{ .Scratch.Set "weightFactor" "10" }}
			{{ partial "tagCloud" . }}
			<br>
			{{ end }}


			<!-- Taxonomy类型不显示具体的摘要列表-->
			{{ if ne .Kind "taxonomy" }} 
				{{ range .Pages }}
					{{ .Render "summary" }}
				{{ end }}
			{{ end }}

			<!-- 只有Section类型才启用更新日志-->
			{{ if eq .Kind "section" }} 
				{{ partial "changelog" . }}
			{{ end }}
		</div>
	</main>
{{ end }}
