<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2006.01.02 15:04" }}</time>

{{ range .Params.categories }}
<a class='front-a' href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">  {{ . }}</a>
{{ end }}

{{ range .Params.tags }}
<a class='front-a' href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">  {{ . }}</a>
{{ end }}

{{ range .Params.anime_tags }}
<a class='front-a' href="{{ "/anime_tags/" | relLangURL }}{{ . | urlize }}">  {{ . }}</a>
{{ end }}

{{ range .Params.rate }}
<a class='front-a' href="{{ "/rate/" | relURL}}{{ . | urlize }}"> 󰅺 {{ . }} </a>
{{ end }}

