<script src="{{"/js/startup.js" | relURL}}"></script>

<script src="{{"/js/hit.js" | relURL}}"></script>

<script src="{{"/js/sort.js" | relURL}}"></script>
<script src="{{"/js/fuse.min.js" | relURL}}"></script>
<script src="{{"/js/search.js" | relURL}}"></script>

<!-- 解密完成后将重新调用一编修改HTML元素的js脚本 -->
<script type="text/javascript" src="{{"/js/crypto-js/crypto-js.js" | relURL}}"></script>
<script src="{{"/js/decrypt.js" | relURL}}"></script>

<!-- 需要实际修改HTML元素 -->
<script src="{{"/js/code-block.js" | relURL}}"></script>
<script src="{{"/js/toc_inspect.js" | relURL}}"></script>


